.app {
  text-align: center;
}

.button__start {
  border-radius: 10px;
}
.button__start:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.button__stop {
  border-radius: 10px;
}
.button__stop:hover {
  cursor: pointer;
  background-color: red;
  color: white;
}
